{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>MacBook Pro</h1>
        <p>
            Dedicado a quienes desafían los límites. A los creadores. El nuevo MacBook Pro es, de lejos, la
            portátil más potente de Apple. Cuenta con una enorme pantalla Retina de 16 pulgadas, procesadores
            ultraveloces,
            gráficos de última generación, la mayor autonomía en un MacBook Pro, un teclado Magic Keyboard renovado y
            una capacidad de almacenamiento brutal. Llega el portátil definitivo para los profesionales más exigentes. Y
            no puede ser más grande.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/portatil.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}